.header-wrapper {
    text-align: center;
    color: white;
    height: auto;
    position: relative;
    overflow: hidden;
}
.header-cover {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: .6;
}
.header-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header-inner h1 {
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 20px;
}
.header-inner h2 {
    margin-top: 0;
    font-size: 16px;
}
.header-inner hr {
    width: 200px;
    margin-bottom: 6px;
}
.header-inner ul {
    list-style: none;
    padding-left: 0px;
}
.header-inner li {
    display: inline;
    padding-left: 5px;
}
.header-inner i {
    color: white;
}
.headshot {
    width: 90px;
    border-radius: 50%;
}
@media (min-width: 425px) {
    .header-inner img {
        width: 150px;
    }
    .header-inner h1 {
        font-size: 20px;
    }
    .header-inner h2 {
        font-size: 18px;
    }
    .header-inner i {
        font-size: 30px;
    }
}
@media (min-width: 375px) {
    .header-inner i {
        font-size: 30px;
    }
}
@media (min-width: 530px){
    .header-inner img {
        width: 200px;
    }
    .header-inner h1 {
        font-size: 30px;
    }
    .header-inner h2 {
        font-size: 20px;
    }
    .header-inner hr {
        width: 300px;
    }
    .header-inner i {
        font-size: 40px;
    }
    .header-wrapper {
        max-height: 450px;
    }
}
/* Nav */
.nav {
    text-align: center;
    background-color: #000;
    border-bottom: 20px solid white;
    border-right: 20px solid transparent;
}
.nav ul {
    padding-top: 3%;
}
.nav li {
    display: inline;
}
.nav a {
    color: white;
    padding-right: 5px;
}
.nav ul li a:hover {
    text-decoration: none;
}
.about h2 {
    color: black;
    margin: 2px;
    border-bottom: 2px solid rgba(173, 216, 230, .4);
}
.about-border {
    position: absolute;
    margin-top: 0;
    padding-right: 100px;
    display: inline-block;
    border-right: 30px solid transparent;
    border-bottom: 36px solid lightblue;
    opacity: .4;
}
.about p {
    margin-top: 20px;
}
.view-button {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    background-color: grey;
    box-shadow: black 2px 2px 2px 2px;
    padding: 8px 18px;
}
.right-content {
    height: 220px;
}
.projects {
    margin-bottom: 30px;
}
@media(min-width: 767px) {
    .nav ul {
        padding: 14px 0 5px;
        margin-left: 20px;
    }
    .nav a {
        padding: 0 10px;
    }
}
.projects-head h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(173, 216, 230, .4);
}
.projects-border {
    position: absolute;
    margin-top: 18px;
    padding-right: 100px;
    display: inline-block;
    border-right: 30px solid transparent;
    border-bottom: 36px solid lightblue;
    opacity: .4;
}
@media(min-width: 767px) {
    .right-content {
        height: 220px;
    }
    .right-content a {
        margin-top: 50px;
    }
}
@media(min-width: 991px) {
    .projects img {
        height: 300px;
        width: 300px;
    }
    .right-content {
        height: 300px;
    }
    .right-content p {
        margin-bottom: 150px;
    }
}
.contact {
    color: white;
    background-color: black;
    text-align: center;
}
.contact a {
    color: white;
    margin: 10px;
}
.contact ul {
    list-style: none;
    padding-left: 0;
}
.contact li {
    display: inline;
    
}
.hide-mobile {
    display: none;
}
@media (min-width: 767px) {
    .hide-mobile {
        display: block;
    }
    .contact {
        background: black;
        color: white;
        text-align: left;
    }
    .contact i {
        font-size: 10px;
    }
    .contact h2 {
        margin: 12px 0 0;
        font-size: 10px;
    }
    .contact ul {
        margin-bottom: 0px;
        margin-top: 6px;
    }
    .contact p {
        text-align: right;
        margin-top: 10px;
        font-size: 10px;
    }
}







.footer-wrapper {
    border-bottom: 20px solid black;
    border-right: 20px solid transparent;
}